html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: linear-gradient(to bottom right, rgba(244, 213, 178, 1.0), rgba(249, 216, 177, 1.0));

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}