.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  color:aliceblue;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color:royalblue;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 2rem;
  color:royalblue;
}

.headings {
  line-height: 2;
  font-size: 2rem;
  color:royalblue;
}

.generator {
  margin: 4rem 0;
  text-align: center;
  line-height: 0;
  font-size: 4rem;
  color:royalblue;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.paragraph {
  color: #f0f8ff;
  text-align: justify;
  text-justify: inter-word;
}

.formgroup {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
