.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  color:black;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background-color: #FFC107;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color:royalblue;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  text-decoration: none;
  line-height: 1.5;
  font-size: 2rem;
  color:royalblue;
  
} 

.description:hover {
  transform:translateY(-10px);
  transition-duration: 0.4s;
  transition-delay: 0s;
}
.description:not(:hover) {
  transform:translateY(10px);
  transition-duration: 0.4s;
  transition-delay: 0s;
}

.descriptionAlt {
  text-align: center;
  margin: 1rem;
  text-decoration: none;
  line-height: 1.5;
  font-size: 2rem;
  color:royalblue;
} 


.headings {
  line-height: 2;
  font-size: 2rem;
  color:royalblue;
}

.generator {
  margin: 4rem 0;
  text-align: center;
  line-height: 0;
  font-size: 4rem;
  color:royalblue;
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
  color:#000000;  
  text-align:center;
  margin-left: 10rem;
  margin-right: 10rem;
}

.paragraphAlt {
  display: flex;
  flex-wrap: wrap;
  color:#000000;  
  text-align:justify;

  margin-left: 5rem;
  margin-right: 5rem;
}

.formgroup {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


@media only screen and (max-width: 600px) {
  .paragraph {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
    margin-right: 3rem;
    text-align:justify;

  }

  .paragraphAlt {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align:justify;

  }

}