.signinBtn {
  display: inline-block;
  border: none;
  width: 191px;
  height: 46px;
  background: url('../public/btn_signin.png');
  position:absolute; 
  top:0; right:0;
}

.signinBtn:hover {
  cursor: pointer;
}

.signoutBtn {
  display: inline-block;
  background:dodgerblue;
  color: #444;
  width: 191px;
  height: 46px;
  border-radius: 2px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  position:absolute; 
  top:0; right:0;
  font-size: medium;
}

.signoutBtn:hover {
  cursor: pointer;
}
